<html>
<head>
<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  	<meta name="format-detection" content="telephone=no">

  	<link rel="stylesheet" type="text/css" href="/src/css/h5/reset.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/fail.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/add.css" />
	<title>链接列表</title>
</head>
<body>
<div class="good_lists">
<{foreach from=$items item="item"}>
<div class="item <{if $item.d_status=='dued'}>dued<{elseif $item.d_status == 'soon_due'}>soon<{/if}>">
<{if $item.title}>
<div class="name"><{$item.title}></div>
<{/if}>
<{if $item.url}>
<div class="goods">链接1：<a href="<{$item.url}>"><{$item.url}></a><span><{if $item.d_status == 'soon_due'}>(即将过期)<{elseif $item.d_status == 'dued'}>(已过期)<{/if}></span></div>
<{/if}>
<div class="goods">链接<{if $item.url}>2<{else}>1<{/if}>：<a href="<{$item.vurl}>"><{$item.vurl}></a><span><{if $item.d_status == 'soon_due'}>(即将过期)<{elseif $item.d_status == 'dued'}>(已过期)<{/if}></span></div>
<div class="created">创建时间：<{$item.created_at|date_format:"%Y-%m-%d %H:%M"}></div>
<div class="due">过期时间：<span><{$item.due_at|date_format:"%Y-%m-%d %H:%M"}></span></div>
</div>
<{foreachelse}>
<div class="title">您还没有创建商品，<a href="">查看帮助</a></div>
<{/foreach}>
</div>
</body>
</html>
