<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  	<meta name="format-detection" content="telephone=no">

  	<link rel="stylesheet" type="text/css" href="/src/css/h5/reset.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/fail.css" />
	<title>会员购买</title>
</head>
<body>
	<div class="title">
    <{if $user.level}>
    您已经是<{if $user.level == '1'}>银牌<{elseif $user.level == '2'}>金牌<{/if}>会员
    <{else}>
    您还不是会员。
    <{/if}>
    </div>
	<a class="btn silver-vip" href="/pay/alipay/index/user/<{$user.id}>/level/1">购买银牌会员</a>
	<a class="btn gold-vip" href="/pay/alipay/index/user/<{$user.id}>/level/2">购买金牌会员</a>
</body>
</html>
