<{extends '../Layouts/noleft_layout.html'}>

<{block 'style'}>
<link rel="stylesheet" href="<{$assets_path}>/css/desktop.css" />
<{/block}>

<{block 'content'}>
<div class="mod-desktop clearfix">
  <div class="desktop-main">
    <{if $undeliveryCount}><div class="alert"><a class="f-r orange" href="/admin/order/lists">查看全部</a>您有 <span class="red"><{$undeliveryCount}></span> 笔成交订单需要处理</div><{/if}>
    <div id="J_shopChart" class="shop-chart loading">

    </div>
    <div class="features-list clearfix">
      <a href="/admin/product/add" class="item">
        <i class="event-ico ico-dk-sell"></i>卖东西
      </a>
      <a href="/admin/component/" class="item">
        <i class="event-ico ico-dk-event"></i>搞活动
      </a>
    </div>
  </div>
  <div id="J_deskSide" class="desktop-side">
    <div class="bx bx-user-info">
      <div class="bd">
        <div class="user-media">
          <div class="user-img">
            <img src="http://qr.wdwd.com/qr?size=100&txt=http://<{$shop_url}>"> <br>
            <p class="gray t-c">扫一扫，分享微店</p>
          </div>
          <div class="user-name"><{if $shop.shop_title}><{$shop.shop_title}><{else}>有量商家<{/if}>　<a href="/admin/shop/info">修改</a></div>
          <div class="user-infos">
            <div class="user-verify">
              <{if $shop.authenticated neq 2}><i class="iconfont">&#xe62f;</i>未认证商户<{else}><i class="iconfont verified">&#xe62f;</i>已认证商户<{/if}>
              <{if $shop.authenticated eq 0}>
                　<a href="/admin/account/auth">上传资料通过认证</a>
              <{else if $shop.authenticated eq 1}>
                　<a href="/admin/account/auth">认证审核中</a>
              <{/if}>
            </div>
            <div class="user-shop">
              店铺地址：<{$shop_url}>
            </div>
          </div>
        </div>
        <div class="user-revenue">
          <h5>本月收入</h5>
          <table width="100%">
            <tr>
              <td><span class="num red">￥<strong class="f-price"><{$income}></strong></span></td>
              <td class="t-r">
                <{if $income > 0}>
                <a href="/admin/withdraw/index" class="btn">提现</a>
                <{/if}>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="bx bx-status">
      <div class="bd">
        <table width="100%">
          <tr>
            <td width="30%">
              <strong class="num"><{$productCount}></strong>
              <p>销售商品</p>
            </td>
            <td width="30%">
              <strong class="num"><{$productDownCount}></strong>
              <p>下架商品</p>
            </td>
            <td width="40%" class="last">
              <strong class="num"><{$orderCount}></strong>
              <p>本月成交笔数</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="bx bx-articles">
      <div class="hd">
        <h3>有料</h3>
        <div class="more">
          <a href="/admin/account/notice">查看更多</a>
        </div>
      </div>
      <div class="bd">
        <div class="articles-list">
          <ul>
            <{foreach from=$notice item="item"}>
            <li class="item">
                <a href="<{$item.url}>" target="_blank">
                    <span class="time"><{$item.create_time|date_format:'%Y-%m-%d'}></span>
                    <{$item.title}>
                </a>
            </li>
            <{/foreach}>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<{/block}>

<{block 'footer_script'}>
<script src="<{$assets_path}>/js/libs/highcharts.js"></script>
<script>
$(function(){
  $(document.body).addClass('page-desktop');

  $.getJSON('/admin/order/amountweekly', function(data){
    if (data && data.status == 'success') {
      var series = data.data;
      $.each(series, function(idx, item){
        item.y = idx;
      });
      $('#J_shopChart').highcharts({
        title: {
          text: '7天成交曲线图'
        },
        chart: {
          type: 'area'
        },
        series: series,
        xAxis: {
          type: 'datetime'
        },
        yAxis: [{
          title: {
            text: '成交笔数',
            style: {
              color: Highcharts.getOptions().colors[0]
            }
          }
        }, {
          title: {
            text: '收入',
            style: {
              color: Highcharts.getOptions().colors[1]
            }
          },
          opposite: true
        }]
      });
    }
  });
});


</script>
<{*
<{if $isFollow }>
<script>
seajs.use(['m.dialog','m.placeholder'], function($dlg, $placeholder){
  $dlg($);
  $placeholder($);

  var dlg=$.dlg({
    title:'绑定微信号',
    width:600,
    closeHandler:function(){
      WD.ajax({
        url:'/admin/passport/ignorewechat',
        type:'post',
        success:function(d){
        }
      })
    },
    html:'<div class="qrcode-content"><p class="qrcode-tit">微信扫描二维码，关注公众号获取激活码！</p><div><img src="/src/img/qrcode_for_gh.jpg" width="258" height="258" /></div><form id="J_windowQrcode" action="/admin/passport/bindwechat" method="POST"><div class="qrcode-Btn"><input name="invite_code" type="text" class="input-text input-xlarge required" placeholder="请输入激活码" /></div><div class="qrcode-Btn"><button type="submit" class="btn btn-primary btn-large btn-line">立刻激活有量微店</button></div></form></div>'
  });
  dlg.el.find('.close').hide();

  $('#J_windowQrcode').find('input[placeholder]').placeholder();
  $('#J_windowQrcode').validate({
    submitHandler:function(form){
      WD.ajaxForm(form, {
        success:function(data){
          dlg.hide();
        }
      })
    }
  });
});
</script>
<{/if}>
*}>


<{if $guide != '0'}>
<script id="T_guideDesktop" type="text/x-tpl">
<div class="guide-cont">
  <div class="guide-desktop">
    <a href="javascript:;" class="btn-lnk btn-import" data-url="/admin/product/add"><span>导入商品</span></a><a href="javascript:;" data-url="/admin/shop/info" class="btn-lnk btn-decorate"><span>装修店铺</span></a>
    <img class="qrcode" src="http://qr.wdwd.com/qr?size=130&txt=<{$shop_url}>" width="130" height="130">
  </div>
</div>
</script>
<script>
seajs.use(['m.modal'], function($modal){
  seajs.use('<{$assets_path}>/css/guide.css');
  $modal($);

  var tpl = $('#T_guideDesktop').html(),
      $el = $(tpl).appendTo(document.body);

  $.modal();
  $el.on('click', '.btn-lnk', function(e){
    var url = $(this).data('url');
    WD.ajax({
      url: '/admin/shop/guide/type/desktop',
      success: function(){
        location.href = url;
      }
    });
  });
});
</script>
<{/if}>


<!-- bd推广 -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc631606e0415060094801d9edf51e571' type='text/javascript'%3E%3C/script%3E"));
</script>
<{/block}>
