/*=============================
=            utils            =
=============================*/
/*-----  End of utils  ------*/
/* line 4, ../scss/apps/_postage.scss */
.app-postage-actions:after {
  display: block;
  clear: both;
  content: "";
}

/* line 11, ../scss/apps/_postage.scss */
.app-postage-actions-right {
  float: right;
}

/* line 15, ../scss/apps/_postage.scss */
.app-postage-data {
  margin-top: 20px;
}

/* line 19, ../scss/apps/_postage.scss */
.app-postage-data-header {
  position: relative;
  border-left: 5px solid #eee;
  height: 50px;
  line-height: 50px;
  background: #eee;
}

/* line 27, ../scss/apps/_postage.scss */
.app-postage-data-data-title {
  margin-left: 15px;
  font-size: 14px;
}

/* line 32, ../scss/apps/_postage.scss */
.app-postage-data-action-default {
  margin-left: 15px;
}

/* line 36, ../scss/apps/_postage.scss */
.app-postage-data-body {
  border: 1px solid #ddd;
  border-top: 0;
}
/* line 40, ../scss/apps/_postage.scss */
.app-postage-data-body table {
  border-collapse: collapse;
  width: 100%;
}
/* line 45, ../scss/apps/_postage.scss */
.app-postage-data-body th, .app-postage-data-body td {
  margin: 0;
  border-left: 1px solid #ddd;
  padding: 10px;
}
/* line 50, ../scss/apps/_postage.scss */
.app-postage-data-body th:first-child, .app-postage-data-body td:first-child {
  border-left: 0;
}
/* line 53, ../scss/apps/_postage.scss */
.app-postage-data-body th:first-child .app-postage-data-cell, .app-postage-data-body td:first-child .app-postage-data-cell {
  width: 360px;
}
/* line 60, ../scss/apps/_postage.scss */
.app-postage-data-body th .app-postage-data-cell {
  font-weight: 400;
}
/* line 65, ../scss/apps/_postage.scss */
.app-postage-data-body td {
  border-top: 1px solid #ddd;
}

/* line 70, ../scss/apps/_postage.scss */
.app-postage-data-cell {
  width: 110px;
  text-align: center;
}

/* line 75, ../scss/apps/_postage.scss */
.app-postage-data-actions {
  position: absolute;
  right: 30px;
  top: 0;
  height: 50px;
  line-height: 50px;
  text-align: right;
}
/* line 83, ../scss/apps/_postage.scss */
.app-postage-data-actions a {
  margin-left: 40px;
}

/* line 89, ../scss/apps/_postage.scss */
.app-postage-data-default .app-postage-data-header {
  border-left-color: #ea4f2b;
}
/* line 93, ../scss/apps/_postage.scss */
.app-postage-data-default .app-postage-data-data-title {
  color: #ea4f2b;
}

/* line 98, ../scss/apps/_postage.scss */
.app-postage-title,
.app-postage-default {
  position: relative;
}

/* line 103, ../scss/apps/_postage.scss */
.app-postage-title {
  line-height: 38px;
}
/* line 106, ../scss/apps/_postage.scss */
.app-postage-title input {
  position: absolute;
  left: 70px;
}
/* line 111, ../scss/apps/_postage.scss */
.app-postage-title span {
  position: absolute;
  left: 390px;
}

/* line 117, ../scss/apps/_postage.scss */
.app-postage-default {
  margin-top: 10px;
  margin-left: 70px;
}
/* line 121, ../scss/apps/_postage.scss */
.app-postage-default label {
  padding-left: 20px;
}
/* line 125, ../scss/apps/_postage.scss */
.app-postage-default .checkbox {
  left: 0;
}

/* line 130, ../scss/apps/_postage.scss */
.app-postage-box {
  margin-top: 20px;
  border: 1px solid #ddd;
}

/* line 135, ../scss/apps/_postage.scss */
.app-postage-box-header {
  position: relative;
  padding-left: 32px;
  height: 50px;
  line-height: 50px;
  background: #f6f6f6;
}
/* line 142, ../scss/apps/_postage.scss */
.app-postage-box-header .checkbox {
  left: 10px;
  top: 15px;
}
/* line 147, ../scss/apps/_postage.scss */
.app-postage-box-header .help {
  margin-left: 15px;
  color: #777;
}

/* line 154, ../scss/apps/_postage.scss */
.app-postage-default .hidden, .app-postage-box-header .hidden {
  display: none;
}
/* line 158, ../scss/apps/_postage.scss */
.app-postage-default .checkbox, .app-postage-box-header .checkbox {
  position: absolute;
  border: 1px solid #ddd;
  width: 14px;
  height: 14px;
  color: #ea4f2b;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-indent: -5000px;
  background: #fff;
}
/* line 171, ../scss/apps/_postage.scss */
.app-postage-default input:checked + .checkbox, .app-postage-box-header input:checked + .checkbox {
  text-indent: 0;
}

/* line 176, ../scss/apps/_postage.scss */
.app-postage-box-body {
  padding-left: 33px;
  height: 50px;
  line-height: 50px;
}
/* line 181, ../scss/apps/_postage.scss */
.app-postage-box-body input {
  margin: 0 8px;
  text-align: center;
}

/* line 187, ../scss/apps/_postage.scss */
.app-postage-edit {
  margin-top: 20px;
  border-top: 1px dashed #ddd;
}

/* line 192, ../scss/apps/_postage.scss */
.app-postage-edit-box {
  margin-top: 20px;
  border: 1px solid #ddd;
}
/* line 196, ../scss/apps/_postage.scss */
.app-postage-edit-box table {
  border-collapse: collapse;
  width: 100%;
}
/* line 201, ../scss/apps/_postage.scss */
.app-postage-edit-box th, .app-postage-edit-box td {
  margin: 0;
  padding: 10px;
  text-align: center;
}
/* line 206, ../scss/apps/_postage.scss */
.app-postage-edit-box th .app-postage-edit-cell, .app-postage-edit-box td .app-postage-edit-cell {
  width: 80px;
}
/* line 211, ../scss/apps/_postage.scss */
.app-postage-edit-box th:first-child .app-postage-edit-cell, .app-postage-edit-box td:first-child .app-postage-edit-cell {
  width: 398px;
  text-align: left;
}
/* line 218, ../scss/apps/_postage.scss */
.app-postage-edit-box th {
  background: #f6f6f6;
}
/* line 222, ../scss/apps/_postage.scss */
.app-postage-edit-box td {
  border-bottom: 1px solid #ddd;
}
/* line 226, ../scss/apps/_postage.scss */
.app-postage-edit-box input {
  text-align: center;
}
/* line 232, ../scss/apps/_postage.scss */
.app-postage-edit-box tfoot td {
  border-bottom: 0;
  height: 30px;
  line-height: 30px;
}
/* line 238, ../scss/apps/_postage.scss */
.app-postage-edit-box tfoot .iconfont {
  margin-right: 5px;
  font-size: 12px;
}

/*=============================
=            utils            =
=============================*/
/*-----  End of utils  ------*/
/* line 3, ../scss/apps/_price-modifier.scss */
.app-price_modifier {
  margin: -8px;
  /* Fix paddings */
}
/* line 6, ../scss/apps/_price-modifier.scss */
.app-price_modifier .header,
.app-price_modifier .footer {
  padding: 10px;
}
/* line 12, ../scss/apps/_price-modifier.scss */
.app-price_modifier .header .address {
  width: 700px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 20, ../scss/apps/_price-modifier.scss */
.app-price_modifier .header .field-deliveryFee .col-l {
  text-align: center;
}
/* line 24, ../scss/apps/_price-modifier.scss */
.app-price_modifier .header .field-deliveryFee .label {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  background: none;
}
/* line 33, ../scss/apps/_price-modifier.scss */
.app-price_modifier .body {
  clear: both;
}
/* line 37, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer {
  border-top: 1px solid #eee;
  background-color: #f6f6f6;
}
/* line 41, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer .sum {
  color: #888;
  font-size: 14px;
  line-height: 40px;
}
/* line 46, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer .sum em {
  color: #333;
  font-size: 22px;
  font-style: normal;
}
/* line 53, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer .form-actions {
  margin: 0;
}
/* line 57, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer .flag-rise {
  color: #ea4f2b;
}
/* line 61, ../scss/apps/_price-modifier.scss */
.app-price_modifier .footer .flag-fall {
  color: #80b534;
}
/* line 66, ../scss/apps/_price-modifier.scss */
.app-price_modifier .col-l {
  float: left;
}
/* line 70, ../scss/apps/_price-modifier.scss */
.app-price_modifier .col-r {
  float: right;
  margin-left: 10px;
}
/* line 75, ../scss/apps/_price-modifier.scss */
.app-price_modifier .input-price {
  text-align: center;
}
