/*=============================
=            utils            =
=============================*/
/*-----  End of utils  ------*/
/* line 4, ../scss/modules/_tree-selector.scss */
.module-tree_selector {
  margin: -8px;
}
/* line 7, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body {
  position: relative;
  margin: 20px 70px;
  height: 500px;
}
/* line 12, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree {
  position: absolute;
  top: 0;
  border: 1px solid #ddd;
  width: 280px;
  height: 100%;
}
/* line 20, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree-0 {
  left: 0;
}
/* line 24, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree-1 {
  right: 0;
}
/* line 28, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree-title {
  border-bottom: 1px solid #ddd;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background: #f6f6f6;
}
/* line 37, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree-data {
  position: absolute;
  left: 0;
  top: 51px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 48, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .tree-0 .tree-data {
  cursor: pointer;
}
/* line 53, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .actions {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -55px;
  margin-top: -25px;
  width: 110px;
  height: 50px;
}
/* line 62, ../scss/modules/_tree-selector.scss */
.module-tree_selector .body .actions .btn {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
/* line 70, ../scss/modules/_tree-selector.scss */
.module-tree_selector .footer {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #eee;
}
/* line 76, ../scss/modules/_tree-selector.scss */
.module-tree_selector .footer .btn {
  margin-left: 15px;
}
/* line 79, ../scss/modules/_tree-selector.scss */
.module-tree_selector .footer .btn:first-child {
  margin-left: 0;
}
/* line 85, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-element {
  position: relative;
  border-top: 1px solid #eee;
  height: 40px;
  line-height: 40px;
}
/* line 91, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-element .iconfont {
  position: absolute;
  right: 10px;
  top: 0;
  color: inherit;
  font-size: 12px;
  line-height: 40px;
}
/* line 103, ../scss/modules/_tree-selector.scss */
.module-tree_selector .tree-0 .jqtree-element .iconfont {
  display: none;
  color: #ea4f2b;
}
/* line 111, ../scss/modules/_tree-selector.scss */
.module-tree_selector .tree-0 .jqtree-selected > .jqtree-element .iconfont {
  display: inline;
}
/* line 120, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-folder ul.jqtree_common .jqtree-element {
  padding-left: 32px;
}
/* line 126, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-toggler {
  padding: 0 8px 0 12px;
  color: #333;
  font-family: "iconfont";
  font-size: 12px;
}
/* line 135, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-tree > li.jqtree_common:first-child .jqtree-element {
  border-top: 0;
}
/* line 142, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-closed > ul.jqtree_common {
  display: none;
}
/* line 149, ../scss/modules/_tree-selector.scss */
.module-tree_selector .jqtree-selected > .jqtree-element,
.module-tree_selector .jqtree-partialSelected > .jqtree-element {
  background: #fafafa;
}
