/* line 3, ../scss/selector.scss */
.selector-app {
  position: relative;
  padding: 0;
  background: #fff;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
/* line 9, ../scss/selector.scss */
.selector-app ul {
  margin: 0;
}
/* line 13, ../scss/selector.scss */
.selector-app ul {
  padding: 0;
  font-size: 0;
}
/* line 18, ../scss/selector.scss */
.selector-app li {
  list-style-type: none;
}
/* line 22, ../scss/selector.scss */
.selector-app a, .selector-app select, .selector-app input, .selector-app button {
  outline: 0;
}
/* line 26, ../scss/selector.scss */
.selector-app a, .selector-app button {
  cursor: pointer;
}
/* line 30, ../scss/selector.scss */
.selector-app a {
  text-decoration: none;
}
/* line 34, ../scss/selector.scss */
.selector-app button, .selector-app select {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 38, ../scss/selector.scss */
.selector-app button, .selector-app img {
  border: 0;
}
/* line 42, ../scss/selector.scss */
.selector-app button {
  padding: 0;
  width: auto;
  background: none;
}
/* line 47, ../scss/selector.scss */
.selector-app button[disabled] {
  cursor: default;
}
/* line 52, ../scss/selector.scss */
.selector-app img {
  background: #fff url('../img/loading.gif') no-repeat 50% 50%;
}

/* line 57, ../scss/selector.scss */
.wgt-dialog-inner .selector-app {
  margin: -8px;
}

/* line 61, ../scss/selector.scss */
.selector-layout-aside {
  position: absolute;
  left: 0;
  right: 720px;
  top: 0;
  bottom: 0;
  border-right: 1px solid #e2e2e2;
  overflow: hidden;
}

/* line 71, ../scss/selector.scss */
.selector-layout-main {
  position: relative;
}

/* line 75, ../scss/selector.scss */
.selector-layout-aside + .selector-layout-main {
  margin: 0 0 0 auto;
  width: 720px;
}

/* line 80, ../scss/selector.scss */
.selector-layout-header {
  position: relative;
  padding: 10px 15px;
  height: 35px;
}

/* line 86, ../scss/selector.scss */
.selector-layout-footer {
  clear: both;
  padding: 10px;
  height: 40px;
  text-align: center;
  background: #eee;
}

/* line 94, ../scss/selector.scss */
.selector-layout-helper {
  display: none;
}

/* Categories
/*--------------------------------*/
/* line 102, ../scss/selector.scss */
.selector-categories label {
  display: block;
  padding: 0 25px;
  height: 30px;
  color: #777;
  font-size: 14px;
  line-height: 30px;
}

/* line 113, ../scss/selector.scss */
.selector-categories-item button {
  display: block;
  padding: 0 25px;
  width: 100%;
  height: 30px;
  color: #777;
  font-size: 14px;
  text-align: left;
}
/* line 122, ../scss/selector.scss */
.selector-categories-item button[disabled] {
  color: #fff;
  background: #ec4e1e;
}

/* Filters
/*--------------------------------*/
/* line 132, ../scss/selector.scss */
.selector-filters {
  margin-left: 15px;
  height: 25px;
  line-height: 25px;
}
/* line 137, ../scss/selector.scss */
.selector-filters:first-child {
  margin-left: 0;
}

/* line 142, ../scss/selector.scss */
.selector-filters-eventtype {
  height: 37px;
}
/* line 145, ../scss/selector.scss */
.selector-filters-eventtype label {
  vertical-align: middle;
  color: #777;
  font-size: 14px;
}
/* line 151, ../scss/selector.scss */
.selector-filters-eventtype select {
  vertical-align: middle;
  border: 1px solid #ddd;
  width: auto;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  background: #fff;
}

/* line 162, ../scss/selector.scss */
.selector-filters-tag {
  margin: 6px 0;
  font-size: 0;
}
/* line 166, ../scss/selector.scss */
.selector-filters-tag label {
  vertical-align: middle;
  color: #777;
  font-size: 14px;
}
/* line 172, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-noresult {
  vertical-align: middle;
  color: #ccc;
  font-size: 14px;
}
/* line 178, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-list {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  margin-left: 5px;
  height: 25px;
}
/* line 186, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-list .selector-filters-tag-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 5px;
  height: 25px;
}
/* line 193, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-list .selector-filters-tag-item:first-child {
  margin-left: 0;
}
/* line 197, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-list .selector-filters-tag-item button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  padding: 0 10px;
  height: 23px;
  color: #777;
}
/* line 204, ../scss/selector.scss */
.selector-filters-tag .selector-filters-tag-list .selector-filters-tag-item button[disabled] {
  color: #ec4e1e;
}

/* line 212, ../scss/selector.scss */
.selector-filters-search {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 217, ../scss/selector.scss */
.selector-filters-search select {
  vertical-align: middle;
  border: 1px solid #ddd;
  width: auto;
  height: 35px;
  font-size: 12px;
  line-height: 35px;
  background: #fff;
}
/* line 227, ../scss/selector.scss */
.selector-filters-search option {
  line-height: 35px;
}
/* line 231, ../scss/selector.scss */
.selector-filters-search input {
  vertical-align: middle;
  border: 1px solid #ddd;
  padding: 5px 24px 4px 7px;
  width: 175px;
  height: 24px;
  color: #777;
  font-size: 12px;
}
/* line 241, ../scss/selector.scss */
.selector-filters-search button[type="reset"] {
  display: none;
  position: absolute;
  right: 93px;
  top: 10px;
}
/* line 247, ../scss/selector.scss */
.selector-filters-search button[type="reset"] .iconfont {
  color: #ec4e1e;
  font-size: 12px;
}
/* line 253, ../scss/selector.scss */
.selector-filters-search button[type="submit"] {
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 80px;
  height: 35px;
  color: #fff;
  background: #ec4e1e;
}

/* line 263, ../scss/selector.scss */
.selector-filters-search-noresult {
  padding-top: 100px;
  color: #ccc;
  text-align: center;
}
/* line 268, ../scss/selector.scss */
.selector-filters-search-noresult i {
  font-size: 78px;
}
/* line 272, ../scss/selector.scss */
.selector-filters-search-noresult div {
  margin-top: 15px;
  font-size: 16px;
}

/* Catalog
/*--------------------------------*/
/* line 281, ../scss/selector.scss */
.selector-catalog-preloader {
  width: 100%;
  height: 100%;
  background: #fff url('../img/preloader.gif') no-repeat 50% 50%;
}

/* line 287, ../scss/selector.scss */
.selector-catalog-noresult {
  padding-top: 100px;
  color: #ccc;
  text-align: center;
}
/* line 292, ../scss/selector.scss */
.selector-catalog-noresult i {
  font-size: 78px;
}
/* line 296, ../scss/selector.scss */
.selector-catalog-noresult div {
  margin-top: 20px;
  font-size: 16px;
}

/* line 302, ../scss/selector.scss */
.selector-catalog-images {
  padding-top: 1px;
  height: 453px;
}
/* line 306, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-list {
  margin: -15px 0 0 -15px;
  padding: 15px;
  height: 423px;
}
/* line 312, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 15px 0 0 15px;
  width: 126px;
  height: 126px;
}
/* line 320, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-item a, .selector-catalog-images .selector-catalog-item span {
  display: block;
}
/* line 324, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-item a {
  position: relative;
  padding: 2px;
  width: 122px;
  height: 122px;
  cursor: pointer;
}
/* line 331, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-item a.disabled {
  cursor: default;
}
/* line 336, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-item input {
  display: none;
}
/* line 341, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb {
  border: 1px solid #e2e2e2;
  overflow: hidden;
}
/* line 345, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb, .selector-catalog-images .selector-catalog-thumb img {
  width: 120px;
  height: 120px;
}
/* line 351, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb-info,
.selector-catalog-images .selector-catalog-overlay {
  position: absolute;
}
/* line 356, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb-info {
  left: 3px;
  right: 3px;
  bottom: 3px;
  overflow: hidden;
}
/* line 363, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb-info,
.selector-catalog-images .selector-catalog-thumb-bg,
.selector-catalog-images .selector-catalog-thumb-fg {
  height: 20px;
  line-height: 20px;
}
/* line 370, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb-bg {
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 375, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-thumb-fg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
/* line 387, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 3px solid #65dec1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 396, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-overlay span {
  position: absolute;
  right: 0;
  top: 0;
  border-color: #65dec1 #65dec1 transparent transparent;
  border-style: solid;
  border-width: 20px;
  width: 0;
  height: 0;
}
/* line 407, ../scss/selector.scss */
.selector-catalog-images .selector-catalog-overlay i {
  position: absolute;
  left: 4px;
  bottom: 1px;
  color: #fff;
  font-size: 12px;
}
/* line 416, ../scss/selector.scss */
.selector-catalog-images a.checked .selector-catalog-overlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 421, ../scss/selector.scss */
.selector-catalog-products,
.selector-catalog-pages,
.selector-catalog-events,
.selector-catalog-coupons,
.selector-catalog-populars,
.selector-catalog-tags_group {
  margin-bottom: 10px;
  height: 440px;
}
/* line 430, ../scss/selector.scss */
.selector-catalog-products table,
.selector-catalog-pages table,
.selector-catalog-events table,
.selector-catalog-coupons table,
.selector-catalog-populars table,
.selector-catalog-tags_group table {
  border-collapse: collapse;
  width: 100%;
}
/* line 435, ../scss/selector.scss */
.selector-catalog-products td,
.selector-catalog-pages td,
.selector-catalog-events td,
.selector-catalog-coupons td,
.selector-catalog-populars td,
.selector-catalog-tags_group td {
  text-align: center;
}
/* line 438, ../scss/selector.scss */
.selector-catalog-products td.align-left,
.selector-catalog-pages td.align-left,
.selector-catalog-events td.align-left,
.selector-catalog-coupons td.align-left,
.selector-catalog-populars td.align-left,
.selector-catalog-tags_group td.align-left {
  text-align: left;
}
/* line 443, ../scss/selector.scss */
.selector-catalog-products span,
.selector-catalog-pages span,
.selector-catalog-events span,
.selector-catalog-coupons span,
.selector-catalog-populars span,
.selector-catalog-tags_group span {
  display: block;
  font-size: 12px;
}
/* line 448, ../scss/selector.scss */
.selector-catalog-products td.multiline span,
.selector-catalog-pages td.multiline span,
.selector-catalog-events td.multiline span,
.selector-catalog-coupons td.multiline span,
.selector-catalog-populars td.multiline span,
.selector-catalog-tags_group td.multiline span {
  height: 30px;
  line-height: 30px;
}
/* line 453, ../scss/selector.scss */
.selector-catalog-products input + a span,
.selector-catalog-pages input + a span,
.selector-catalog-events input + a span,
.selector-catalog-coupons input + a span,
.selector-catalog-populars input + a span,
.selector-catalog-tags_group input + a span {
  display: inline-block;
  margin: 22px 0;
  border: 1px solid #ddd;
  width: 14px;
  height: 14px;
  background: #fff;
}
/* line 461, ../scss/selector.scss */
.selector-catalog-products input + a span i,
.selector-catalog-pages input + a span i,
.selector-catalog-events input + a span i,
.selector-catalog-coupons input + a span i,
.selector-catalog-populars input + a span i,
.selector-catalog-tags_group input + a span i {
  display: none;
  margin: 1px;
  width: 12px;
  height: 12px;
  color: #ec4e1e;
  font-size: 12px;
  line-height: 12px;
}
/* line 473, ../scss/selector.scss */
.selector-catalog-products thead, .selector-catalog-products thead tr, .selector-catalog-products thead th,
.selector-catalog-pages thead,
.selector-catalog-pages thead tr,
.selector-catalog-pages thead th,
.selector-catalog-events thead,
.selector-catalog-events thead tr,
.selector-catalog-events thead th,
.selector-catalog-coupons thead,
.selector-catalog-coupons thead tr,
.selector-catalog-coupons thead th,
.selector-catalog-populars thead,
.selector-catalog-populars thead tr,
.selector-catalog-populars thead th,
.selector-catalog-tags_group thead,
.selector-catalog-tags_group thead tr,
.selector-catalog-tags_group thead th {
  height: 40px;
}
/* line 478, ../scss/selector.scss */
.selector-catalog-products thead th,
.selector-catalog-pages thead th,
.selector-catalog-events thead th,
.selector-catalog-coupons thead th,
.selector-catalog-populars thead th,
.selector-catalog-tags_group thead th {
  background: #f6f6f6;
}
/* line 482, ../scss/selector.scss */
.selector-catalog-products thead span,
.selector-catalog-pages thead span,
.selector-catalog-events thead span,
.selector-catalog-coupons thead span,
.selector-catalog-populars thead span,
.selector-catalog-tags_group thead span {
  color: #111;
  line-height: 40px;
}
/* line 487, ../scss/selector.scss */
.selector-catalog-products tbody td,
.selector-catalog-pages tbody td,
.selector-catalog-events tbody td,
.selector-catalog-coupons tbody td,
.selector-catalog-populars tbody td,
.selector-catalog-tags_group tbody td {
  position: relative;
  border-bottom: 1px solid #eee;
  height: 60px;
}
/* line 493, ../scss/selector.scss */
.selector-catalog-products tbody .checked td,
.selector-catalog-pages tbody .checked td,
.selector-catalog-events tbody .checked td,
.selector-catalog-coupons tbody .checked td,
.selector-catalog-populars tbody .checked td,
.selector-catalog-tags_group tbody .checked td {
  background: #fff0f0;
}
/* line 497, ../scss/selector.scss */
.selector-catalog-products tbody a,
.selector-catalog-pages tbody a,
.selector-catalog-events tbody a,
.selector-catalog-coupons tbody a,
.selector-catalog-populars tbody a,
.selector-catalog-tags_group tbody a {
  padding: 0 10px;
}
/* line 501, ../scss/selector.scss */
.selector-catalog-products tbody span,
.selector-catalog-pages tbody span,
.selector-catalog-events tbody span,
.selector-catalog-coupons tbody span,
.selector-catalog-populars tbody span,
.selector-catalog-tags_group tbody span {
  color: #333;
  line-height: 60px;
}
/* line 506, ../scss/selector.scss */
.selector-catalog-products input,
.selector-catalog-pages input,
.selector-catalog-events input,
.selector-catalog-coupons input,
.selector-catalog-populars input,
.selector-catalog-tags_group input {
  display: none;
}
/* line 510, ../scss/selector.scss */
.selector-catalog-products a,
.selector-catalog-pages a,
.selector-catalog-events a,
.selector-catalog-coupons a,
.selector-catalog-populars a,
.selector-catalog-tags_group a {
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
}
/* line 517, ../scss/selector.scss */
.selector-catalog-products tr.disabled td a,
.selector-catalog-pages tr.disabled td a,
.selector-catalog-events tr.disabled td a,
.selector-catalog-coupons tr.disabled td a,
.selector-catalog-populars tr.disabled td a,
.selector-catalog-tags_group tr.disabled td a {
  cursor: default;
}
/* line 521, ../scss/selector.scss */
.selector-catalog-products thead tr.allChecked i,
.selector-catalog-products tbody tr.checked i,
.selector-catalog-pages thead tr.allChecked i,
.selector-catalog-pages tbody tr.checked i,
.selector-catalog-events thead tr.allChecked i,
.selector-catalog-events tbody tr.checked i,
.selector-catalog-coupons thead tr.allChecked i,
.selector-catalog-coupons tbody tr.checked i,
.selector-catalog-populars thead tr.allChecked i,
.selector-catalog-populars tbody tr.checked i,
.selector-catalog-tags_group thead tr.allChecked i,
.selector-catalog-tags_group tbody tr.checked i {
  display: block;
}
/* line 526, ../scss/selector.scss */
.selector-catalog-products thead .partialChecked i,
.selector-catalog-pages thead .partialChecked i,
.selector-catalog-events thead .partialChecked i,
.selector-catalog-coupons thead .partialChecked i,
.selector-catalog-populars thead .partialChecked i,
.selector-catalog-tags_group thead .partialChecked i {
  display: block;
  margin: 1px;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  font-size: 0;
  background: #ec4e1e;
}
/* line 536, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb,
.selector-catalog-pages .selector-catalog-item-thumb,
.selector-catalog-events .selector-catalog-item-thumb,
.selector-catalog-coupons .selector-catalog-item-thumb,
.selector-catalog-populars .selector-catalog-item-thumb,
.selector-catalog-tags_group .selector-catalog-item-thumb {
  display: block;
  float: left;
  margin: 8px 15px 7px 0;
}
/* line 541, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb, .selector-catalog-products .selector-catalog-item-thumb img,
.selector-catalog-pages .selector-catalog-item-thumb,
.selector-catalog-pages .selector-catalog-item-thumb img,
.selector-catalog-events .selector-catalog-item-thumb,
.selector-catalog-events .selector-catalog-item-thumb img,
.selector-catalog-coupons .selector-catalog-item-thumb,
.selector-catalog-coupons .selector-catalog-item-thumb img,
.selector-catalog-populars .selector-catalog-item-thumb,
.selector-catalog-populars .selector-catalog-item-thumb img,
.selector-catalog-tags_group .selector-catalog-item-thumb,
.selector-catalog-tags_group .selector-catalog-item-thumb img {
  width: 45px;
  height: 45px;
}
/* line 547, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb-preview,
.selector-catalog-pages .selector-catalog-item-thumb-preview,
.selector-catalog-events .selector-catalog-item-thumb-preview,
.selector-catalog-coupons .selector-catalog-item-thumb-preview,
.selector-catalog-populars .selector-catalog-item-thumb-preview,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview {
  display: none;
  position: absolute;
  left: -52px;
  top: 100%;
  border: 1px solid #f75a53;
  padding: 4px;
  background: #fff;
  z-index: 10;
}
/* line 557, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb-preview::before, .selector-catalog-products .selector-catalog-item-thumb-preview::after,
.selector-catalog-pages .selector-catalog-item-thumb-preview::before,
.selector-catalog-pages .selector-catalog-item-thumb-preview::after,
.selector-catalog-events .selector-catalog-item-thumb-preview::before,
.selector-catalog-events .selector-catalog-item-thumb-preview::after,
.selector-catalog-coupons .selector-catalog-item-thumb-preview::before,
.selector-catalog-coupons .selector-catalog-item-thumb-preview::after,
.selector-catalog-populars .selector-catalog-item-thumb-preview::before,
.selector-catalog-populars .selector-catalog-item-thumb-preview::after,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview::before,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview::after {
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  border-style: solid;
  width: 0;
  height: 0;
  content: '';
}
/* line 568, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb-preview::before,
.selector-catalog-pages .selector-catalog-item-thumb-preview::before,
.selector-catalog-events .selector-catalog-item-thumb-preview::before,
.selector-catalog-coupons .selector-catalog-item-thumb-preview::before,
.selector-catalog-populars .selector-catalog-item-thumb-preview::before,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview::before {
  margin: -8px 0 0 -7px;
  border-color: transparent transparent #f75a53;
  border-width: 0 7px 8px;
}
/* line 574, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb-preview::after,
.selector-catalog-pages .selector-catalog-item-thumb-preview::after,
.selector-catalog-events .selector-catalog-item-thumb-preview::after,
.selector-catalog-coupons .selector-catalog-item-thumb-preview::after,
.selector-catalog-populars .selector-catalog-item-thumb-preview::after,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview::after {
  margin: -7px 0 0 -6px;
  border-color: transparent transparent #fff;
  border-width: 0 6px 7px;
}
/* line 580, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb-preview, .selector-catalog-products .selector-catalog-item-thumb-preview img,
.selector-catalog-pages .selector-catalog-item-thumb-preview,
.selector-catalog-pages .selector-catalog-item-thumb-preview img,
.selector-catalog-events .selector-catalog-item-thumb-preview,
.selector-catalog-events .selector-catalog-item-thumb-preview img,
.selector-catalog-coupons .selector-catalog-item-thumb-preview,
.selector-catalog-coupons .selector-catalog-item-thumb-preview img,
.selector-catalog-populars .selector-catalog-item-thumb-preview,
.selector-catalog-populars .selector-catalog-item-thumb-preview img,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview,
.selector-catalog-tags_group .selector-catalog-item-thumb-preview img {
  width: 160px;
  height: 160px;
}
/* line 586, ../scss/selector.scss */
.selector-catalog-products .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview,
.selector-catalog-pages .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview,
.selector-catalog-events .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview,
.selector-catalog-coupons .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview,
.selector-catalog-populars .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview,
.selector-catalog-tags_group .selector-catalog-item-thumb:hover + span + .selector-catalog-item-thumb-preview {
  display: block;
}

/* Memory
/*--------------------------------*/
/* line 594, ../scss/selector.scss */
.selector-memory {
  float: left;
  margin: 0 0 10px 15px;
  height: 28px;
  color: #999;
  font-size: 12px;
  line-height: 28px;
}
/* line 602, ../scss/selector.scss */
.selector-memory button {
  width: 20px;
  height: 20px;
}
/* line 606, ../scss/selector.scss */
.selector-memory button i {
  color: #f5a68e;
  font-size: 12px;
  line-height: 20px;
}

/* Pagination
/*--------------------------------*/
/* line 617, ../scss/selector.scss */
.selector-pagination {
  float: right;
  margin: 0 15px 10px 0;
  height: 28px;
}

/* line 623, ../scss/selector.scss */
.selector-pagination-item,
.selector-pagination-page-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 10px;
}
/* line 631, ../scss/selector.scss */
.selector-pagination-item:first-child,
.selector-pagination-page-item:first-child {
  margin-left: 0;
}

/* line 636, ../scss/selector.scss */
.selector-pagination-nav button,
.selector-pagination-page-item button,
.selector-pagination-select button,
.selector-pagination-page-helper span {
  color: #999;
  font-size: 12px;
}

/* line 644, ../scss/selector.scss */
.selector-pagination-nav button {
  border: 1px solid #ddd;
  width: 26px;
  height: 26px;
}
/* line 649, ../scss/selector.scss */
.selector-pagination-nav button i {
  color: #7c7c7c;
  font-size: 10px;
  line-height: 26px;
}

/* line 656, ../scss/selector.scss */
.selector-pagination-page-item button,
.selector-pagination-select button,
.selector-pagination-page-helper span {
  height: 28px;
  line-height: 28px;
}

/* line 663, ../scss/selector.scss */
.selector-pagination-page-item button[disabled] {
  color: #ec4e1e;
}

/* line 667, ../scss/selector.scss */
.selector-pagination-page-helper span {
  cursor: default;
}

/* line 671, ../scss/selector.scss */
.selector-pagination-select {
  position: relative;
  width: 70px;
}

/* line 676, ../scss/selector.scss */
.selector-pagination-select > button {
  width: 70px;
}
/* line 679, ../scss/selector.scss */
.selector-pagination-select > button i {
  position: relative;
  left: 6px;
  top: 8px;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 4px;
  width: 0;
  height: 0;
}

/* line 691, ../scss/selector.scss */
.selector-pagination-select > span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid #ccc;
  width: 70px;
  height: 152px;
  background: #fff;
  overflow: hidden;
}

/* line 703, ../scss/selector.scss */
.selector-pagination-select-list {
  display: block;
  padding: 0 40px 0 0;
  width: 110px;
  height: 120px;
  overflow: auto;
  overflow-x: hidden;
}

/* line 712, ../scss/selector.scss */
.selector-pagination-select-up,
.selector-pagination-select-down {
  display: block;
  width: 70px;
  height: 16px;
}
/* line 718, ../scss/selector.scss */
.selector-pagination-select-up i,
.selector-pagination-select-down i {
  display: block;
  position: relative;
  left: 50%;
  top: 6px;
  margin: 0 0 0 -5px;
  border-color: #ccc transparent;
  border-style: solid;
  width: 0;
  height: 0;
}

/* line 731, ../scss/selector.scss */
.selector-pagination-select-up i {
  border-width: 0 5px 4px;
}

/* line 735, ../scss/selector.scss */
.selector-pagination-select-down i {
  border-width: 4px 5px 0;
}

/* line 739, ../scss/selector.scss */
.selector-pagination-select-item button {
  width: 70px;
  height: 24px;
}
/* line 743, ../scss/selector.scss */
.selector-pagination-select-item button[disabled] {
  color: #ec4e1e;
}
/* line 747, ../scss/selector.scss */
.selector-pagination-select-item button:hover {
  color: #fff;
  background: #ec4e1e;
}

/* Actions
/*--------------------------------*/
/* line 756, ../scss/selector.scss */
.selector-actions-item {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 761, ../scss/selector.scss */
.selector-actions-item.hide {
  display: none;
}

/* line 766, ../scss/selector.scss */
.selector-actions-item button {
  margin-left: 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ec4e1e;
  width: 150px;
  height: 40px;
  color: #ec4e1e;
  font-size: 16px;
  line-height: 40px;
  background: #fff;
}
/* line 777, ../scss/selector.scss */
.selector-actions-item button[disabled] {
  border-color: #ccc;
  color: #ccc;
}

/* line 783, ../scss/selector.scss */
.selector-actions-confirm button {
  margin-left: 0;
  color: #fff;
  background: #ec4e1e;
}

/* line 790, ../scss/selector.scss */
.selector-actions-upload button i {
  vertical-align: top;
  margin-right: 5px;
  font-size: 14px;
}
