<div id="J_linkShops" class="mod-link-shops">
</div>

<script type="text/x-tpl" id="T_linkTaobao">
<div class="mod-link mod-link-taobao">
  <h3 class="mod-title">连接你的淘宝/天猫店</h3>
  <div class="btns">
    <a class="btn btn-large btn-primary" href="<{$authorizeUrl}>">用淘宝账号登录</a>
  </div>
</div>
</script>
<script type="text/x-tpl" id="T_linkOther">
<div class="mod-link mod-link-other">
  <h3 class="mod-title">导入你的商品</h3>
  <div class="mod-bd">
    <form action="">
      <div class="link-info">
        <ul>
          <li>1.下载模板，根据模板编辑商品信息　　<a href="#">下载模版</a></li>
          <li>2.上传编辑好的文件</li>
        </ul>
        <input type="file" class="input-large" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
      </div>
    </form>
    <div class="btns">
      <button type="submit" class="btn btn-large btn-primary">导入</button>
    </div>
  </div>
</div>
</script>
