<html>
<head>
<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  	<meta name="format-detection" content="telephone=no">

  	<link rel="stylesheet" type="text/css" href="/src/css/h5/reset.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/fail.css" />
	<title>商品</title>
</head>
<body>
<iframe src="http://h5.m.taobao.com/scan/transit-sms.html?ut_sk=1.U8ezewaieFMDAAPKa/JpSBe9_12278902_1444131120748.Copy.1&url=http://a.m.taobao.com/i41288775215.htm?price=%EF%BF%A5599&sourceType=item&un=53e82b084474fb684c6e4bed9157ce66&share_crt_v=1&short_name=S.Z7kWTp" width="100%" height="100%" frameborder="0"></iframe>
</body>
</html>
