<html>
<head>
<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  	<meta name="format-detection" content="telephone=no">
	<title>微淘秀－快速传播您的店铺</title>
    <link rel="stylesheet" type="text/css" href="/src/css/h5/reset.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/fail.css" />
  	<link rel="stylesheet" type="text/css" href="/src/css/h5/add.css" />
</head>
<body>
     <{if $curr_profile}>

<div class="event">
     <div class="title">转发分享，可免费续期7天!</div>
     <div class="info">活动说明：转发本页面到朋友圈，如果有10人以上关注“微淘秀”公众号，则帮您续期</div>
     <{if $hasup}>
     <div class="event">您的朋友圈太给力了，已经帮您升级为银牌会员了!</div>
     <{else}>
     <div class="event">您已经推荐了<{$share_count}>个朋友关注了公众号</div>
     <{/if}>
</div>

     <{else}>

<div class="show_due">
   <div class="desc">您可以长按👇的二维码，关注“微淘秀”微信公众号，免费生成自己的淘宝商品链接喽！快速传播自己的生意</div>
   <div class="code">
       <img src="/src/images/qrcode334.jpg" width="334px" height="334px"/>
   </div>
</div>
     <{/if}>
</body>
</html>
