<div class="Wgraphic">
  <form action="" class="Form-vertical" method="get" id="Wgraphicreply-form">
  </form>
</div>
<script type="text/template" id="Ginit_template">
  <input type="hidden" name="" id="editing_id" class="Editing-id" value="<% print(items[0] ? items[0].id : 0)%>">
  <input type="hidden" name="sort" id="sorted_ids" class="Sorted-ids" value="<%=sorted_ids%>">
  <div class="Clearfix Table-wrap">
    <div class="Preview">
      <h2 class="Hd">图文消息预览</h2>
      <div class="Bd" id="updateArea">
        <dl class="Graphic-cont" id="sortable">
          <% _.each(items, function(k, i) {%>
          <% if(!k.id) k.id = 0; %>
          <% print((i == 0 ? '<dt class="Active" ' : '<dd ') + 'id="' + k.id + '">') %>
            <figure>
              <img src="<%= k.image %>">
              <h3><a href="<%= k.url%>"><%= k.title %></a></h3>
            </figure>

            <div class="Actions">
              <% if(i !== 0) {%><a href="javascript:void(0);" class="Sortable">拖动排序</a><% }%><a href="<%= k.id%>" rel="<%= k.id%>" class="Edit">编辑</a><% if(i !== 0) {%><a href="<%= k.id%>" rel="<%= k.id%>" class="Del">删除</a><% }%>
            </div>
          <% print(i == 0 ? '</dt>' : '</dd>') %>
          <% });%>
        </dl>
        <div class="Btnbar"><button class="Btn-a Action-add-graphic" type="button"><i class="Icon-add"></i> 添加一条图文</button><span class="Alert-info"><i class="Icon-info"></i> 最多添加8条图文</span></div>
      </div>
    </div>
    <div class="Content">
      <% _.each(items, function(k, i) {%>
      <% if(!k.id) k.id = 0; %>
      <ul id="prop_<%=k.id%>" <% if(i !== 0){%>style="display:none;"<% }%>>
        <li class="Form-group">
          <label for="" class="Form-label">标题 <em>*</em></label>
          <div class="Form-controls"><input type="text" data-vtype="required" class="Action-title" name="title[<%=k.id%>]" value="<%=k.title%>" id=""></div>
        </li>
        <li class="Form-group">
          <label for="" class="Form-label"><span class="Pic-cover">封面</span> <em>*</em></label>
          <div class="Form-controls">
            <div class="Img-area">
              <img src="<%=k.image%>" class="Preview-img" width="180" height="100"<%if (!k.image){%> style="display:none;"<%}%>>
              <button type="button" class="Btn-a Uploader-btn">上传图片</button>
              <input type="hidden" data-vtype="required" name="image[<%=k.id%>]" value="<%=k.image%>">
            </div>
          </div>
        </li>
        <li class="Form-group">
          <label for="" class="Form-label">点击<span class="Pic-cover">封面</span>链接至</label>
          <div class="Form-controls"><label><input type="radio" name="linked[<%=k.id%>][]" id="" class="Linkedto"  <%if (!k.text) print('checked')%>> 链接</label>　　<label><input type="radio" name="linked[<%=k.id%>][]" class="Linkedto" id="" <%if (k.text) print('checked')%>> 活动</label></div>
          <div class="Form-controls"<%if (k.text){%>style="display:none"<%}%>><input type="hidden" name="text[<%=k.id%>]" class="Linked-text" value="<%=k.text%>" /><input type="url" placeholder="http://" name="url[<%=k.id%>]" id="" value="<%=k.url%>" class="Linked-url"></div>
          <div class="Form-controls"  <%if (!k.text){%>style="display:none"<%}%>>
            <button type="button" class="Btn-a Action-select-action"><span><% print(k.text? k.text : '选择活动')%></span></button>
          </div>
        </li>
      </ul>
      <% });%>
    </div>
  </div>
  <div class="Cb Action-bar"><button class="Btn-b" type="submit">保存</button></div>
</script>

<script type="text/template" id="Gitem_template">
  <dd id="<%=id%>" class="New">
    <figure>
      <img src="/img/w-thumb.png" alt="">
      <h3>标题</h3>
    </figure>
    <div class="Actions">
      <a href="javascript:void(0);" class="Sortable">拖动排序</a><a href="edit?id=<%=id%>" rel="<%=id%>" class="Edit">编辑</a><a href="del?id=<%=id%>" rel="<%=id%>" class="Del">删除</a>
    </div>
  </dd>
</script>
<script type="text/template" id="Gform_template">
  <ul id="prop_<%=id%>">
    <li class="Form-group">
      <label for="" class="Form-label">标题 <em>*</em></label>
      <div class="Form-controls"><input type="text" data-vtype="required" class="Action-title" name="title[<%=id%>]" id=""></div>
    </li>
    <li class="Form-group">
      <label for="" class="Form-label"><span class="Pic-cover" style="display:none">封面</span><span class="Pic-thumb">缩略图</span> <em>*</em></label>
      <div class="Form-controls">
        <div class="Img-area">
          <img src="" class="Preview-img" width="180" height="100" style="display:none;">
          <button type="button" class="Btn-a Uploader-btn">上传图片</button>
          <input type="hidden" data-vtype="required" name="image[<%=id%>]">
        </div>
      </div>
    </li>
    <li class="Form-group">
      <label for="" class="Form-label">点击<span class="Pic-cover" style="display:none">封面</span><span class="Pic-thumb">缩略图</span>链接至</label>
      <div class="Form-controls"><label><input type="radio" name="linked[<%=id%>][]" id="" class="Linkedto"> 链接</label>　　<label><input type="radio" name="linked[<%=id%>][]" class="Linkedto" id=""> 活动</label></div>
      <div class="Form-controls"><input type="hidden" name="text[<%=id%>]" class="Linked-text" value="" /><input type="url" placeholder="http://" name="url[<%=id%>]" id="" class="Linked-url"></div>
      <div class="Form-controls" style="display:none">
        <button type="button" class="Btn-a Action-select-action"><span>选择活动</span></button>
      </div>
    </li>
  </ul>
</script>
<script type="text/template" id="Gscript_template">
(function($){

var form = $('#Wgraphicreply-form');
var sortable = $('#sortable');

//拖动排序
sortable.sortable({
    handle: '.Sortable',
    items: '> dd',
    tolerance: 'intersect',
    containment: 'parent',
    stop: function(e, ui) {
        $('#sorted_ids').val($(this).sortable('toArray'));
        // form.find('.Content ul').hide().eq(ui.item.index()).show();
    }
});

//添加
function fitHeight() {
    var parent = $('.Table-wrap');
    var children = parent.children();
    if(children.eq(0).outerHeight() > children.eq(1).children().outerHeight()) {
        parent.addClass('V-b');
    }
    else {
        parent.removeClass('V-b');
    }
}
$(document)
.on('resize', '.Table-wrap .Content ul', function(e) {
    // fitHeight();
})
.on('input', '.Action-title', function(e) {
    sortable.find('.Active h3').text(this.value);
})
.on('click', '.Action-add-graphic:not(.Disabled)', function(e) {
    var count = _.uniqueId();
    e.preventDefault();
    if(sortable.children().size() == 8) {
        return false;
    }
    var tpl = [$('#Gitem_template').html(), $('#Gform_template').html()];
    var dd = $(_.template(tpl[0], {id:count}));
    var ul = $(_.template(tpl[1], {id:count}));
    sortable.append(dd);
    form.find('.Content').find('ul').hide().end().append(ul);
    dd.addClass('Active').siblings('.Active').removeClass('Active');
    if(sortable.children().size() == 8) {
        $(this).addClass('Disabled');
    }
})
.on('mouseenter', '.Action-add-graphic.Disabled', function(e) {
    $(this).parent().find('.Alert-info').addClass('Hover');
})
.on('mouseleave', '.Action-add-graphic.Disabled', function(e) {
    $(this).parent().find('.Alert-info').removeClass('Hover');
})
.on('click', '.Actions .Edit', function(e) {
    e.preventDefault();
    $(this).parents('dd, dt').addClass('Active').siblings('.Active').removeClass('Active');
    var id = $(this).attr('rel');
    form.find('.Editing-id').val(id).end()
    .find('.Content ul').hide();
    $('#prop_' + id).show();
})
.on('click', '.Actions .Del', function(e) {
    var id = $(this).attr('rel');
    e.preventDefault();
    if(confirm('确定删除吗?')) {
        form.find('.Action-add-graphic.Disabled').removeClass('Disabled');

        var dd = $(this).parents('dd');
        if(dd.hasClass('Active')) {
            $('#prop_' + dd.attr('id')).prev().show();
            dd.prev().addClass('Active');
        }
        $('#prop_' + dd.attr('id')).remove();
        dd.remove();
        form.find('.Sorted-ids').val(sortable.sortable('toArray'));
    }
})

form.on('click', '.Uploader-btn', function() {
    var parent = $(this).parent(), img = parent.find('.Preview-img'), hidden = parent.find('input[type=hidden]');
    var xx = Xiuxiu.init();
    xx.set('onUploadResponse',function(data){
        var res = JSON.parse(data);
        if(res.succ == true){
            xx.hide();
            img.show().attr('src',res.data.file_url);
            hidden.val(res.data.file_url);
            sortable.find('.Active img').attr('src', res.data.file_url);
        }
    });
    xx.show();
});


})(jQuery);
</script>
