.help {
    font-size:13px;
    padding:5px 10px;
    line-height:20px;
}

.t{
   font-size:15px;
   line-height:25px;
   color:red;
   padding-bottom:10px;
}

.desc .i {
    line-height:20px;
    padding-left:10px;
    padding-bottom:10px;
}

div.menu {
    padding-bottom:10px;
    border-bottom:1px solid #777;
}

.menu .m{
    padding-left:10px;
}

.ht {
    margin:10px;
    margin-left:5px;
    font-weight:bold;
    font-size:14px;
}

.hinfo{
   margin-top:30px;
}

.red{
   color:red;
}

.img_t {
    margin:5px;
    line-height:20px;
    font-weight:bold;
    color:#777;
}

.imgs img{
   margin-bottom:10px;
   border-bottom:1px solid #777;
}

